* {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
  }

  .container {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 50px;
  }

  .header{
    background-color: black;
  }

  .nav-list{
      list-style: none;
      display: flex;
      justify-content: flex-end;
      flex-wrap: wrap;
      align-items: center;
  }

  .link {
    color: white;
    padding: 20px;
    line-height: 50px;
    text-decoration: none;
    transition: 0.2s;
  }

  .link:hover{
      color: grey;
  }
  .main{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: auto;
    width: 95%;
  }

  .main-link{
    text-decoration: none;
    color: rgb(135, 135, 135);
    transition: 0.2s;
  }

  .main-link:hover{
    color: rgb(232, 67, 122)
  }

  #profile{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
  }

  .main-title{
    font-size: 40px;
    font-weight: 700;
  }

  .photo{
    width: 200px;
    height: 250px;
    object-fit: cover;
    box-shadow: 0 1px 4px rgb(0 0 0 / 80%);
  }

  .list{
    padding: 0 20px;
  }

  .section{
    width: 50%;
    padding: 20px;
    border-bottom: 1px solid black;
  }

  .h2-titles{
    font-weight: 500;
  }

  .code{
    position: relative;
    top: -15px;
    font-family: 'Montserrat', sans-serif;
    overflow-y: scroll;
    max-height: 190px;
    margin: 0;
  }

  .footer{
    background-color: black;
    padding: 20px;
  }

  .footer-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  .footer-info{
    color: white;
    text-decoration: none;
  }

  @media (max-width: 865px) {
    body{
      font-size: 13px;
    }
  }


  @media (max-width: 768px) {
    body{
      font-size: 10px;
    }

    .section {
      width: 100%;
    }

    .code{
      top:0;
    }

    .link {
      padding: 10px;
    }

    .nav-list{
      padding: 0;
    }
  }

  @media (max-width: 500px){
    .main-title{
      font-size: 30px
    }

    .link {
      font-size: 8px;
      padding: 5px;
    }

    .nav-list{
      padding-right: 10px;
    }

    .section{
      padding: 20px 7px;
      font-size: 9px;
    }
  }
/* 
  @media (max-width: 410px){
    .link {
      font-size: 10px;
      padding: 5px;
    }
  } */